@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F7F7;
  max-width: 100vw;
  overflow-x: hidden;
}

/* ESTILIZAÇÃO DA BARRA DE NAVEGAÇÃO */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  padding: 1em;
  background-color: #2E2E2E;
  border-bottom: 3px solid #F0B232;
  z-index: 1000;
}

/* Menu Hamburguer para mobile */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3em;
}

li {
  color: white; 
  font-size: 23px;
  cursor: pointer;
}

.link-nav {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  position: relative;
}

.link-nav::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #3C5A6E;
  transition: width 0.3s ease;
}

.link-nav:hover {
  color: #3C5A6E;
}

.link-nav:hover::after {
  width: 100%;
}

.portfolio {
  color: white;
  font-size: 45px;
  justify-content: flex-start;
}

.portfolio span {
  color: #F0B232;
}

nav img {
  width: 90px;
  height: 90px;
  margin-left: 5px;
  border-radius: 100px;
}

/* ESTILIZAÇÃO DO HOME */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 80px;
}

.home h1 {
  color: #2E2E2E;
  font-size: 80px;
  text-shadow: 2px 3px 4px black;
  margin-left: 90px;
}

.home h3 {
  color: #3C5A6E;
  font-size: 32px;
  top: 60%;
  left: 7%;
  margin-left: 90px;
}

.home img {
  height: 80vh;
  margin-right: 100px;
  margin-top: 60px;
  animation: flutuar 5s ease-in-out infinite;
}

@keyframes flutuar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.social-media {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  margin-left: 5.6rem;
}

.social-media a {
  display: inline-block;
  background-color: #F0B232;
  color: #000;
  padding: 0.5em 1em;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.social-media a:hover {
  transform: translateY(-5px);
}

/* ESTILIZAÇÃO DO "SOBRE MIM" */

.about {
  display: flex;
  align-items: center;
  width: 80vw;
  border-radius: 20px;
  padding: 5px;
  padding-top: 90px;
  margin: auto;
  margin-bottom: 2rem;
}

.about img {
  height: 65vh;
  border-radius: 1000px;
  margin-right: 50px;
}

.about div h2 {
  color: #3C5A6E;
  font-size: 75px;
}

.about div p {
  color: #000;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: justify;
}

.about div button {
  color: #000;
  background-color: #F0B232;
  height: 60px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.about div button:hover {
  background-color: #ffaa00;
  transform: scale(1.04);
}

/* ESTILIZAÇÃO DAS HABILIDADES */

.habilidades-container {
  margin-bottom: 3rem;
}

.habilidades-container h2 {
  text-align: center;
  color: #3C5A6E;
  font-size: 55px;
  transition: 0.3s;
  position: relative;
  padding-top: 90px;
}

.habilidades-container h2::after {
  content: '';
  background: #F0B232;
  position: absolute;
  top: 11rem;
  height: 5px;
  width: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.habilidades-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 4rem;
}

.card-habilidade-wrapper {
  display: inline-block;
}

.card-habilidade {
  border-radius: 10px;
  padding: 2rem;
  width: 12rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card-habilidade:hover {
  transform: translateY(-10px);
}

.card-habilidade img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.card-habilidade h3 {
  color: #3C5A6E;
  margin-bottom: 1rem;
}

/* .habilidades {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 28px;
  gap: 60px;
  color: #494848;
}

.habilidades p {
  background-color: #c7c5c5;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s ease;
}

.habilidades p:hover {
  transform: scale(1.03)
} */

/* ESTILIZAÇÃO DOS PROJETOS - PÁGINAS */

.projetos-titulo {
  position: relative;
  margin-top: 20px;
  margin-bottom: 5em;
}

.projetos-titulo h2 {
  text-align: center;
  color: #3C5A6E;
  font-size: 55px;
  transition: 0.3s;
  position: relative;
  padding-top: 90px;
}

.projetos-titulo h2::after {
  content: '';
  background: #F0B232;
  position: absolute;
  top: 11rem;
  height: 5px;
  width: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin-bottom: 3em;
}

.card1 div img {
  width: 35em;
  height: 25em;
  margin-bottom: 3em;
}

.card1-texto {
  width: 25em;
}

.card1-texto h5 {
  font-size: 28px;
  color: #3C5A6E;
  margin-bottom: 0.7em;
}

.card1-texto p {
  font-size: 1rem;
  text-align: left;
  color: #000;
  margin-bottom: 2em;
}

.card1-texto a {
  display: inline-block;
  background-color: #F0B232;
  color: #000;
  padding: 1em;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.card1-texto a:hover {
  transform: translateY(-5px);
}

.card-projetos-paginas {
  position: relative;
}

.btn-projetos {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4em;
  border: none;
  background-color: #F0B232;
  padding: 1em;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.btn-projetos a {
  text-decoration: none;
  color: #000;
}

/* ESTILIZAÇÃO DOS CONTATOS */

.contatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2E2E2E;
  padding: 40px;
  margin-top: 8em;
}

.contatos h5 {
  color: white;
  font-size: 45px;
}

.contatos h5 span {
  color: #F0B232;
  font-size: 45px;
}

.contatos p {
  color: white;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 14px;
}

.social {
  display: flex;
  gap: 15px;
}

.social img {
  height: 45px;
}

.social a {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.social a:hover {
  transform: scale(1.3);
}

/* ESTILIZAÇÃO DOS CRÉDITOS */

.creditos {
  background-color: #2E2E2E;
  display: flex;
  justify-content: center;
}

.creditos p {
  color: #fff;
}

/* RESPONSIVIDADE PARA TELAS EM GERAL DE COMPUTADOR */

@media (max-width: 1670px) {

  .home {
    padding-bottom: 0;
  }
  
  .home-texto h1{
    font-size: 4rem;
  }

  .home div img {
    width: 35vw;
    height: 70vh;
  }

}

@media (max-width: 1670px) {

  .home {
    gap: 30px;
  }

  .home-texto h1, .home-texto h3, .home-texto div{
    margin-left: 0;
  }

  .home div img {
    width: 38vw;
  }

}


/* RESPONSIVIDADE PARA CELULARES */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    background-color: #2E2E2E;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    z-index: 999;
  }

  #menu-toggle:checked + .menu-icon + ul {
    transform: translateX(0);
    opacity: 1;
  }

  nav ul li {
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
}