* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tinos", serif;
}

body {
  background-color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 15px;
  background-color: #000000;
  border-bottom: 3px solid #1962b3;
  z-index: 1000;
}

.portfolio {
  color: white;
  font-size: 60px;
}

.portfolio span {
  color: #1962b3;
}

li {
  color: white;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-right: 40px;
  cursor: pointer;
}

.link-nav {
  text-decoration: none;
  color: white;
}

.link-nav:hover {
  color: #1962b3;
  transition: 0.5s;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 50px;
}

.home h1 {
  color: rgb(0, 0, 0);
  font-size: 90px;
  text-shadow: 2px 3px 4px black;
  margin-left: 90px;
}

.home h1 span {
  color: #1962b3;
}

.home h3 {
  color: rgb(0, 0, 0);
  font-size: 32px;
  text-shadow: 1px 2px 3px black;
  top: 60%;
  left: 7%;
  margin-left: 90px;
}

.home img {
  height: 80vh;
  margin-right: 100px;
  margin-top: 80px;
  animation: flutuar 5s ease-in-out infinite;
}

@keyframes flutuar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

/* ESTILIZAÇÃO DO "SOBRE MIM" */

.about {
  display: flex;
  align-items: center;
  width: 80vw;
  border-radius: 20px;
  padding: 20px 5%;
  margin: auto;
  margin-bottom: 30px;
  background-color: #000000;
}

.about:hover {
  box-shadow: 0 0 20px 10px #1962b3;
}

.about img {
  height: 65vh;
  border-radius: 1000px;
  margin-right: 50px;
}

.about div h2 {
  color: white;
  font-size: 75px;
}

.about div p {
  color: #1962b3;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: justify;
}

.about div button {
  color: white;
  background-color: #1962b3;
  height: 60px;
  width: 170px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.about div button:hover {
  background-color: rgb(7, 37, 211);
}

/* ESTILIZAÇÃO DOS PROJETOS */

.projetos {
  background: #202020;
  width: 95vw;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 100px;
  padding: 80px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.projetos h2 {
  color: white;
  font-size: 75px;
  text-align: center;
  -webkit-text-stroke: 2px #000000;
  text-shadow: 2px 3px 4px black;
}

.card-projetos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 25px;
}

/* ESTILIZAÇÃO DOS CARDS */

.card {
  background-color: #000000;
  height: 320px;
  width: 335px;
  border-radius: 20px;
  text-align: center;
  transition: .5s ease-in;
  padding: 20px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px #1962b3;
}

.card img {
  height: 100px;
}

.card h5 {
  color: white;
  font-size: 24px;
}

.card p {
  color: #78a7dd;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card a {
  background-color: #1962b3;
  color: white;
  padding: 17px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.card a:hover {
  background-color: rgb(7, 37, 211);
  transition: 0.5s;
}

/* ESTILIZAÇÃO DOS CONTATOS */

footer {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h5 {
  color: white;
  font-size: 45px;
}

footer p {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 14px;
}

.social {
  display: flex;
  gap: 15px;
}

.social img {
  height: 35px;
}

.social a {
  background-color: #1962b3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.social a:hover {
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(206, 214, 219, 0.5);
}
